body{
	margin: 0;
	text-align: center;
}
#calender{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.month{
	min-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.days{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.days p{
	text-align: center;
	min-width: 14%;
	border: 1px solid black;
}
.weekday{
	background-color: green;
}
.weekend{
	background-color: yellow;
}
.exess{
	background-color: gray;
}
