body{
	margin: 0;
	text-align: center;
}
#calender{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.month{
	min-width: 33%;
	align-items: center;
}

.days{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.days .head{
	margin-bottom: none;
}

.days p{
	text-align: center;
	min-width: 14%;
	border: 1px solid black;
}
.weekday{
	background-color: rgba(89, 219, 118, 0.69);
}
.weekend{
	background-color: rgba(230, 248, 74, 0.62);
}
.exess{
	background-color: gray;
}

#reset-form{
	display: hidden
}
