body{
	margin: 0;
}
#calender{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.month{
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.days{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.days p{
	min-width: 15%;
	border: 1px solid black;
}
.weekday{
	background-color: green;
}
.weekend{
	background-color: yellow;
}
